@model DataRowCollection

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Student Concession Card Status</title>

    <!--style sheets references-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/HomePage.css" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--script files references -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>



</head>

<body>
    <!--RP Logo Area-->
    <section id="banner" class="rp-logo">
        <img src="~/images/RP_Logo.png" width="200" height="80" />
    </section>


    <!--Codes for the table-->
    @{
        // make the table searchable and sortable
    }
    <script>
        $(document).ready(function () {
            $('#StudentCardsTable').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]]
            });
        });


    </script>

    @* // Select all checkbox *@
    <script type='text/javascript'>

        // Set check or unchecked all checkboxes
        function checkAll(e) {
            var checkboxes = document.getElementsByName('check');

            if (e.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;
                }
            } else {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
        }
    </script>


    <div class="container" style="text-align: center">
        <h2>
            <span style="color: green"> Update Card Status </span>
        </h2>
    </div>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-@TempData["MsgType"]">
            @TempData["Message"]
        </div>
    }

    @{
        // Table for the update card status
    }
    <div class="container" style=" align-content: center">


        <table id="StudentCardsTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    @{
                        //Sorting in the table
                    }

                    <th><input type='checkbox' name='showhide' onchange="checkAll(this)"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Card Status</th>
                    
                </tr>
            </thead>

            <tbody>
                @foreach (DataRow row in Model)
                {
                <tr>
                        <td align='center'> <input type='checkbox' name='check' id='@row["student_email"]' onchange='checkChange();'>
                        </td>


                    <td>@row["student_email"]</td>
                    <td>@row["student_name"]</td>
                    <td>@row["ph_num"]</td>
                    <td>@row["card_status"]</td>
                </tr>
                }
            </tbody>




        </table>
    </div>


    <!--Test by Yiyang-->

</body>
</html>



